:root {
  --color-blue: #1390E5;

  --color-white: #1390E5;

  --color-black: #000000;

  --color-grey: #B9B9BA;

  --font-Roboto: Roboto, Helvetica, Arial, sans-serif;

  --font-PT: PT-Sans, Helvetica, Arial, sans-serif;

}